*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media ((min-width: 10px) and (max-width: 320px)){
    p{
        color: blue;
    }
}
@media ((min-width: 321px) and (max-width: 500px)){
        p{
        color: red;
    }
}

@media ((min-width: 501px) and (max-width: 770px)){
        p{
        color: rgb(87, 132, 156);
    }
}
@media ((min-width: 771px) and (max-width: 992px)){
        p{
        color: rgb(158, 99, 158);
    }
}    
@media ((min-width: 993px) and (max-width: 1024px)){
        p{
        color: rgb(65, 32, 32);
    }
}

@media ((min-width: 1025px) and (max-width: 1600px)){
        p{
        color: rgb(96, 135, 85);
    }
}
img{
    width: 25px;
    height: 25px;
}
body{
    width: 100%;
}
.div-work{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 40vh;
    border: 1px solid black;
}

.div-work .div-img{
    height: 20vh;
    background-color: rgb(77, 178, 178);
}
.div-work .desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.desc svg{
    margin-left: 20px;
}