@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.backhead{
    max-width: 100vw;
    height: 80vh;
    background-color: #1E93AB;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.imgheader{
    width: 80vw;
    height: 90vh;
    position: absolute;
    top: 2%;
    left: 10vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 
.name {
       font-family: "Playfair", serif;
       font-weight: 800;
       font-size: 52px;
       z-index: 2;
       padding-top: 75vh;
       padding-left: 3vw;
       color: white;
    }

footer{
    background-color: #1E93AB;
}

/* Mobile */
@media (max-width: 767px) {
    body{
        min-height: 100vh;
        position: relative;
    }

    .imgheader1{
        display: none;
    }
    .about{
        margin-top: 40vh;
    }
    .about h1 {
        font-family: "Playfair", serif;
        font-size: 46px;
        text-align: center;
        color: rgb(59, 59, 59);
    }

    .about p{
        color: rgb(115, 114, 114);
        font-family: 'Roboto';
        font-size: 20px;
        word-spacing: 5px;
        padding: 6px;
        width: 86vw;
        margin-left: 20px;  
    }
     .logo-socios{
        margin-left: 42%;
     }
    .logo-socios img{
        width: 35px;
        height: 35px;
        margin-left: 8px;
        margin-top: 15px;
    }
    .h1-mywork{
        margin-top: 54vh;
        text-align: center;
        font-family: "Playfair", serif;
        font-size: 46px;
        color: rgb(59, 59, 59);
    }
    
    main{
        margin-top: 8vh;
        
    }


    .div-work{
        width: 80vw;
        height: 53vh;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 4vh;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 10px;
        background-color: white;
    }
    .divcolor{
    background-color: #3396D3;
    height: 25vh;
    }
   span{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    span h2{
        margin: 10px 0 5px 20px;
        font-family: "Playfair", serif;
    }
    .span2{
        margin: 10px 20px 5px 0;
    }
    span img{
        width: 24px;
        height: 24px;
    }

    .description p{
        color: rgb(115, 114, 114);
        font-family: 'Roboto';
        padding: 6px;
        margin-left: 20px;  
    }

    .footer h1{
        text-align: center;
        font-family: "Playfair", serif;
        font-size: 46px;
        color: white;
    }
    .footer p,a{
        color: white;
        font-family: 'Roboto';
        font-size: 20px;
        word-spacing: 5px;
        padding: 6px;
        width: 86vw;
        margin-left: 20px; 
    }


    .footer .span3{
        display: flex;
        flex: row;
        align-items: center;
        justify-content: center;
        margin-top: 19px;
        margin-bottom: 25px;
    }
    footer span i{
        font-size: 35px;
    }
    footer span img{
        width: 35px;
        height: 35px;
        margin-left: 5px;
    }

    .imgfooter{
        width: 100vw;
        height: 51vh;
        
    }
}

/* Tablette */
@media (min-width: 768px) and (max-width: 1199px) {
    body{
        position: relative;
    }
    .imgheader{
        display: none;
    }
    .name{
        position: absolute;
        top: -68vh;
        left: 42vw;
        z-index: 4;
    }
    .imgheader1{
        float: left;
        width: 48vw;
        height: 60vh;
        z-index: 3;
        margin-top: -16vh;
        margin-left: -10vw;
        padding-right: 10px;

    }
    .about{
        width: 80vw;
        height: 75vh;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        position: absolute;
        right: 3vw;
        top: 7%;
        z-index: 2;
        background-color: white;
    }
    .about h1{
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 3vh;
        
    }
  
    .logo-socios{
        visibility: hidden;

    }
    .logo-socios img{
        width: 30px;
        height: 30px;
    }
    .h1-mywork{
        margin-top: 14vh;
        text-align: center;
        font-family: "Playfair", serif;
        font-size: 46px;
        color: rgb(59, 59, 59);
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10vh;
    }

    .div-work{
        width:40vw;
        height: 53vh;
        margin-left: 5%;
        margin-top: 15px;
        margin-bottom: 4vh;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 10px;
        background-color: white;
        
    }
    .description{
        display: flex;
        flex-direction: column;
    }
    .description p{
        margin-left: 2vw;
        margin-top: 15px;
        font-size: 15px;
        font-family: 'Robot';
        color: rgb(115, 114, 114);
        
    }
    .description span{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
         margin-right: 2vw;
    }
    .description span h2{
        margin-left: 2vw;
        margin-top: 15px;
    }
    .description span img,svg{
        width: 25px;
        height: 25px; 
        margin-top: 10px;
    }
   
    .divcolor{
        background-color: #3396D3;
        width: 40vw;
        height: 25vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 55vh;
    }
    footer p{
        color: rgb(255, 255, 255);
        font-family: 'Roboto';
        margin-top: 4px;
    }

    footer a{
        text-decoration: none;
        color: white;
        font-family: 'Roboto';
    }
    footer span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;

    }
     footer span img{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        
     }
     footer span i{
        font-size: 30px;
     }
    footer img{
        width: 20vw;
        height: 49vh;
    }
}

/* Desktop */
@media (min-width: 1200px) {
  body {
    background-color: lightgray;
  }
    .imgheader1{
    display: none;
    }
    .imgheader{
    width: 35vw;
    height: 75vh;
    margin-top: 5vh;
    position: absolute;
    left: 4vw;
    }
    .h1-mywork{
        margin-top: 14vh;
        margin-bottom: -10vh;
        margin-left: 5vw;
        text-align: left;
        font-family: "Playfair", serif;
        font-size: 26px;
        color: rgb(59, 59, 59);
    }
    .name{
        position: absolute;
        top: -3vh;
        left: 5vw;

    }
    .about{
        z-index: 1;
        position: absolute;
        top: 18vh;
        left: 39vw;
        width: 55vw;
        height: 60vh;
        background-color: white;
        padding: 15px;
        font-size: 15px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    .about h1{
        font-family: "Playfair", serif;
        color: rgb(26, 25, 25);
        margin-bottom: 15px;
    }
    .about p{
        color: rgb(115, 114, 114);
        font-family: 'Roboto';
        line-height: 18px;
    }
    .logo-socios{
        z-index: 2;
        position: absolute;
        top: 65vh;
        left: 79vw;

    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10vh;
    }

    .div-work{
        width:25vw;
        height: 50vh;
        margin-left: 5%;
        margin-top: 15px;
        margin-bottom: 4vh;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 10px;
        background-color: white;
    }
    .description{
        display: flex;
        flex-direction: column;
        
    }
    .description p{
        font-family: 'Roboto';
        font-size: 15px;
        margin-left: 2vw;
        margin-top: 15px;
        color: rgb(115, 114, 114);
    }

    .description span{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px
         
    }
    .description span h2{
        margin-left: 2vw;
        font-family: 'Playfair';
        font-size: 18px;
        margin-top: 10px;
    }

    .description span img,svg{
        width: 25px;
        height: 25px; 
        margin-top: 10px;
    }
   
    .divcolor{
        background-color: #3396D3;
        width: 25vw;
        height: 25vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .logo-socios img{
        width: 35px;
        height: 35px;
        margin-left: 8px;
        margin-top: 15px;
    }

      footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 55vh;
    }
    footer p{
        color: rgb(255, 255, 255);
        font-family: 'Roboto';
        margin-top: 4px;
    }

    footer a{
        text-decoration: none;
        color: white;
        font-family: 'Roboto';
    }
    footer span {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;

    }
     footer span img{
        width: 30px;
        height: 30px;
        margin-left: 10px;
        
     }
     footer span i{
        font-size: 30px;
     }
    footer img{
        width: 40vw;
        height: 49vh;
    }
}


